@import "tailwindcss";

@theme {
  --color-natural-50: #fdfcf8;
  --color-natural-100: #f7f6f0;
  --color-natural-200: #e9e6d8;
  --color-natural-300: #d1ccb8;
  --color-natural-400: #b4ac91;
  --color-natural-500: #9b9172;
  --color-natural-600: #84785c;
  --color-natural-700: #6e634e;
  --color-natural-800: #5c5243;
  --color-natural-900: #4d453a;
  --color-natural-950: #29241e;

  --font-serif: "Outfit", serif;
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
  
  .gradient-text {
    @apply bg-clip-text text-transparent bg-linear-to-r from-emerald-500 to-emerald-400;
  }
}

:root {
  --background: #fdfcf8;
  --foreground: #1a2f1a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Reset */
* {
  box-sizing: border-box;
}
